
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


@section style{
    
}
@section jfooter{

    <script src="~/Scripts/js/trade/contract.js"></script>
}

<h3 class="blank1">Phiếu Đề Xuất</h3>
<div class="bs-example4" data-example-id="simple-responsive-table">
    <div class="table-responsive">
        <div class="form-group">
            <button class="btn btn-primary" onclick="detaildata(0)" data-toggle="tooltip" data-placement="bottom" title="Thêm"><span class="fa fa-plus-square-o"></span></button>
            <button class="btn btn-warng1" onclick="getdata()" data-toggle="tooltip" data-placement="bottom" title="Sửa"><span class="fa fa-pencil-square-o"></span></button>
            <button class="btn btn-danger" onclick="deletedata()" data-toggle="tooltip" data-placement="bottom" title="Xóa"><span class="fa fa-trash-o"></span></button>
        </div>
            <table class="table-bordered table-condensed" id="contractable" style="font-family:'Times New Roman', Times, serif;font-size:11px">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Số hợp đồng</th>
                        <th>Số đề xuất</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Điểm</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
 
    </div>
    @Html.Partial("~/Views/Shared/_Modal.cshtml")
