<div class="table-responsive">
    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option value="0">Tất cả</option>
                <option value="1">Hàng hóa</option>
                <option value="2">Dịch vụ</option>
            </select>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="takedata()">Chọn</button>
        </div>
    </div>
    <br />
    <br />
    <table class="table-bordered table-condensed" id="selectable" style="font-family:'Times New Roman', Times, serif;font-size:11px;width:100%">
        <thead>
            <tr>
                <th>Tên nhà cung cấp</th>
                <th>Loại hàng hóa</th>
                <th>Loại dịch vụ</th>
                <th>Điểm đánh giá</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>